export const BASEURL = 'http://localhost:3000';
# export const BASEURL = 'https://hackvision-server-latest.onrender.com';

export const PRIVACY_POLICY_URL = "https://hackvision-server-latest.onrender.com"
export const TERMS_AND_CONDITIONS_URL = "https://hackvision-server-latest.onrender.com"
